/* SAILOR DAY THEME */

$fontFamilyChakraPetch: 'Chakra Petch';

$fontWeightChakraPetchBold: 700;
$fontWeightChakraPetchRegular: 400;

$colorFontWhite: #FFFFFF;
$colorFontBlack: #110038;

$backgroundColorTitle: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$backgroundColorContent: #E6E6E6;
$backgroundColorFooterBtn: #F7C9F3;

$boxShadowContent: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$boxShadowFooterBtn: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;

$borderFooterBtn:  1px solid #110038;

.btn {
    background-color: $backgroundColorFooterBtn;
    border: $borderFooterBtn;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: $colorFontBlack;
    cursor: pointer;
    font-family: $fontFamilyChakraPetch;
    font-weight: $fontWeightChakraPetchRegular;
    font-size: 16px;
    height: 36px;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    width: 144px;
}

.modal-wrapper {
    background: $backgroundColorContent;
    box-shadow: $boxShadowContent;
    margin: 0 378px;
    margin-bottom: 153px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}

.medium-wrapper {
    height: 386px;
    width: 684px;
}

.big-wrapper {
    height: 548px;
    margin: 0 265px;
    width: 860px;
}

.title-modal {
    background-image: $backgroundColorTitle;
    color: $colorFontWhite;
    display: flex;
    font-size: 14px;
    font-weight: $fontWeightChakraPetchBold;
    justify-content: space-between;
    letter-spacing: 0;
    margin-bottom: 8px;
    padding-top: 3px;
    padding-left: 4px;
}

.content {
    width: 832px;
    height: 434px;
    margin-bottom: 24px;
    padding: 0 14px;
}

.navigation-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.createGuifoVideoCaptionWrapper {
    height: 434px;
    margin-bottom: 24px;
    width: 100%;
}

/*---------Modal create guifo-----------*/

.subtitle-create-gif {
    align-items: center;
    color: $colorFontBlack;
    display: flex;
    font-family: $fontFamilyChakraPetch;
    font-size: 16px;
    font-weight: $fontWeightChakraPetchBold;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 7px;
    margin-left: 25px;
    margin-top: 30px;
}

.subtitle-description {
    color: $colorFontBlack;
    display: inline-block;
    font-family: $fontFamilyChakraPetch;
    font-weight: $fontWeightChakraPetchBold;
    font-size: 16px;
    line-height: 22px;   
    letter-spacing: 0;
    margin-left: 16px;
}


.content.create-gif {
    color: $colorFontBlack;
    font-family: $fontFamilyChakraPetch;
    font-size: 14px;
    height: 190px;
    margin-bottom: 28px;
    margin-left: 73px;
    margin-right: 93px;
    letter-spacing: 0;
    line-height: 20px;
    width: 518px;
}

.text-description {
    display: block;
    margin-bottom: 7px;
}

.btn.one {
    background-color: $colorFontWhite;
}

.btn.two {
    margin-left: 16px;
    margin-right: 36px;
}

.text-bold {
    font-weight: $fontWeightChakraPetchBold;
}

.text-bold.cursive {
    font-style: italic;
}

/*---------Modal un chequeo antes de empezar-----------*/

.btn.icon-btn {
    width: 36px;
}

.previewViewImage {
    width: 100%;
    height: 434px;
}

/*---------Modal subiendo guifo-----------*/

.uploadGifDetails {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.icon-glob {
    margin-top: 139px;
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
}
.progress-detail {
    font-family: $fontWeightChakraPetchRegular;
    font-size: 12px;
    color:$colorFontBlack;
    margin-top: 71px;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}

.progressive-bar {
    width: 324px;
    height: 24px;
    margin-top: 39px;
    background-color: green;
    display: flex;
    align-items: center;
}

.progression {
    width: 15px;
    height: 24px;
    background-color: rebeccapurple;
    border: 1px solid $colorFontWhite;
}