*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.main-wrapper{
    background-color: gold;
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    margin-bottom: 40px;
}
.search-bar{
    margin-bottom: 30px;
    width: 100%;
}
.list-gifs{
    display: flex;
    flex-direction: row;
}

.gif{
    margin: 20px;
    background-color:blue;
    display: flex;
    flex-direction: column;
}